version: '3.8'

services:
  app:
    build: ./php
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0 
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: library_user
      MYSQL_PASSWORD: library_password  
      MYSQL_DATABASE: library_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: